:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --verde: #00b341;
    --azul: #0097A7;
    --gis: #757575;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
}  

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--azul);
}

.navegacion-principal{
    background-color: var(--azul);

}